@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Caveat:wght@400;500;600;700&family=Roboto:wght@100;500;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
:root {
  --primaryColor: #55c7eb;
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainGreen: #f8faf9;
  --mainBlue: #f8f9fb;
  --gradient-background:linear-gradient(to left, #25c1e9, #556ff8);
}
html{
scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mainWhite);
  line-height: 1;
  font-weight: 400;
}
/*-------------------------- part 1 -------------------------*/
header {
  background:linear-gradient(to left, #25c1e9, #556ff8);
}
.wave-top{
  width: 100%;
  transform: translateY(5px);
}
.navbar{
  height: 5.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-image:linear-gradient(to left, #25c1e9, #556ff8);
  position:sticky;
  z-index: 100;
  top: 0;
  background-color: var(--gradient-background);
  overflow: hidden;
}
/*-------------------------- logo -------------------------*/
.nav-logo {
  display: flex;
  align-items: center;
  margin:.4rem 0rem 0rem .5rem;
  background-color: var(--gradient-background);
}
.nav-logo-svg {
  width: 70px;
  height:70px;
  color:white;
}
.nav-logo-text{
  font-family:'Caveat',sans-serif;
  font-weight: 600;
  font-size: 2em;
}
/*-------------------------- menu items -------------------------*/
.menu-items {
  display: flex;
  margin:1rem ;
}
ul {
  font-size: 1.2em;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.6em;
}
.menu-items a:hover {
  color:var(--mainBlack);
  display: block;
}
a {
  text-decoration: none;
  color: var(--mainWhite);
  transition: 0.5s;
}
.menu-box{
  display: none;
}
#services{

}
.line-nav{
width: 100%;
height: 1px;
background-color: var(--mainWhite);
}
/*-------------------------- header main content -------------------------*/
.header-main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap:8rem;
  white-space: pre-line;
  /* margin-top:6rem; */
}
/*-------------------------- header text box -------------------------*/
.header-text-box{
  line-height: .7rem;
  margin:8rem 0rem 0rem 8rem;
}
.header-h1{
  /* margin-top:6rem; */
  font-size: 2.8em;
}
.header-lorem {
  font-size: 1.3em;
  font-weight:400;
  line-height: 1.6rem;
}
.header-play-button {
  display: flex;
  align-items: center;
  gap: .4rem;
  font-weight: 350;
  margin-left:.6rem ;
}
.header-play-icone {
  height: 12%;
  width: 12%;
}
.header-play-text{
  font-size: 1.2em;
}
.header-img {
  max-width: 400px;
  width: 100%;
  margin:12rem 5rem 0 0;
}
/*-------------------------- part 2 -------------------------*/
.part2-container{
  color: var(--mainBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  margin-top: 1rem;
  overflow: hidden;
}
.what-we-do-h2 {
  font-size: 2.6em;
  padding: 1rem;
}
.line {
  width: 80%;
  height: 0.15rem;
  background-color: #f0eded;
}
/*-------------------------- part 2 Main -------------------------*/
.services-container {
  width: 100%;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 0rem;
  margin:2rem;
}
.services-box{
  border:.5px solid gray;
  border-radius: 20px;
  padding:2rem 1rem 2rem 1rem;
  margin:2rem .5rem 2rem .5rem;
  gap: 1rem;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
  transition: all 200ms ease-out;
}
.services-container:hover
.services-box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.services-container:hover
.services-box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
.img-container {
  max-width: 200px;
  width: 70%;
  margin-left: 2em;
}
.part2-imgs {
  width: 100%;
  min-height: 160px;
  margin: 0 auto;
}
.part2-desc {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  text-align: justify;
  margin: 4rem 0 1rem 0;
}
 .part2-title {
  margin: 0 auto;
  margin-bottom:2rem ;
  font-size: 1.8em;
  line-height: 0.01;
}
.part2-lorem {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.8rem;
  white-space: pre-line;
  word-spacing: 0.2rem;
  text-align: justify;
}
.underline{
  width: 100%;
  height: 0.15rem;
  background-color: #f0eded;
}
/*-------------------------- part 2 Bottom -------------------------*/
.button-services {
  background: linear-gradient(to left, #25c1e9, #556ff8);
  border: 0;
  padding: 1.1rem 2.4rem !important;
  margin: 1rem 3rem 8rem 3rem;
  border-radius: 30px;
  border: 3.2px solid transparent;
  transform: scale(1,1);

}
.button-services:hover{
  background-image:white;
  color: black;
  border: 3.2px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  transform: scale(1.2,1.2);
  transition: 0.5s;
}
.button-services a{
  font-size: 1.7em;
  font-weight: 400;
  transform: scale(3,3);
}
/*-------------------------- part 3 -------------------------*/
.part3-container{
  color: var(--mainBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: #f8faf9;
  overflow: hidden;
}
/*-------------------------- part 3 Top -------------------------*/
.why-choose-us-h2{
  font-size: 2.4em;
  margin: 0 auto;
  margin: 3rem 0rem .9rem 0rem;
}
/*-------------------------- part 3 Main -------------------------*/
.part3-main-content{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content:center;
  gap: 10rem;
}
/*-------------------------- about diamond and h3-------------------------*/
.part3-diamond-h3{
  display: flex;
  flex-direction: row;
  /* margin: 0 0rem 0 0rem; */
  gap: .2rem;
}
.diamond{
  height: 28px;
  width: 28px;
  margin: 3.85rem .2rem 1rem 0rem;
}
.part3-text-box-h3{
  font-size: 1.8em;
  margin: 4rem 0 1.4rem 0rem;
  font-weight: 600;
}
/*-------------------------- part 3 text box -------------------------*/
.part3-text-box{
  display: flex;
  flex-direction:column;
  gap: 0rem;
}
.part3-text-box-list{
display: flex;
flex-direction: column;
align-items:flex-start;
gap: .7rem;
margin-left:.1rem;
list-style:disc;
font-size: 1.3em;
padding-left: 3.4rem;
font-weight: 400;
/* margin: 1rem 3rem 0 0; */
}
/*-------------------------- part 3 img -------------------------*/
.part3-img{
  width: 300px;
  height:300px;
  margin: 3rem 0 4.3rem 10rem;
}
/*-------------------------- part 4 -------------------------*/
.part4-container{
  color: var(--mainBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 6rem 0 6rem 0;
  overflow: hidden;
}
/*-------------------------- part 4 Top -------------------------*/
.what-client-say-h2{
  font-size: 2.6em;
  margin: 1.8rem 0 1.8rem 0;
}
.part4-line{
  width: 80%;
  height: 0.3rem;
  background-color: #f8faf9;
}
/*-------------------------- part 4 Main -------------------------*/
.part4-3box{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0rem 0;
  gap: 3.8rem;
}
.part4-profile-container{
  display: flex;
  align-items: end;
  gap: 0rem;
}
.part4-vertical-line{
  width: .27rem;
  height: 12rem;
  background-color:#556ff8;
}
.part4-prof-all{
  display: flex;
}
.prof-text-img{
  display: flex;
  flex-direction: column;
  margin: 0 .5rem 0rem 0;
}
.prof-lorem{
  font-size: 1.4em;
  white-space: pre-line;
  margin: 0 0 0rem .6rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.info-prof-all{
  display: flex;
  flex-direction: row;
  margin: 1.2rem 0 .1rem .8rem;
  justify-content: flex-start;
  gap: .6rem;
}
.profile-pic{
  width: 50px;
  height: 50px;
  margin: 0 0 1rem 0;
}
.info-prof{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: .75rem 0 0 0;
  gap: .3rem;
}
.prof-name{
  font-size: 1.2rem;
  font-weight: bold;
}
.prof-under-name{
font-size:1em;
}
/*-------------------------- part 5 -------------------------*/
.part5-container{
  color: var(--mainBlack);
  background-color: #f8faf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 8rem 0 .6rem 0;
  overflow: hidden;
}
.find-us-in-social-media-h2{
  font-size: 2em;
  margin: 2.9rem 0rem 0rem 0rem;
  font-weight: 500;
  word-spacing: .1rem;
}
.social-imgs{
  display: flex;
  justify-content: center;
  margin: 2rem 0 3.1rem 0 ;
  gap: .7rem;
}
.social-img{
  width:80px ;
  height:80px;
}
/*-------------------------- footer -------------------------*/
.bottom-wave{
  /* transform: translateZ(20px); */
  transform: translateY(-3px);
}

footer{
  background: linear-gradient(to left, #25c1e9, #556ff8);
  overflow: hidden;
}
.footer-3box{
width: 80%;
display: flex;
margin: 0 auto;
gap: 6rem;
}
/*-------------------------- footer box 1 -------------------------*/
.footer-box1{
display: flex;
flex-direction: column;
/* margin-left: .6rem; */
}
/*-------------------------- footer logo -------------------------*/
.footer-logo-container{
  display: flex;
  align-items: center;
  margin:0rem 0rem 0rem 0rem;
}
.footer-logo{
  width: 3.3rem;
  height: 3.3rem;
}
.footer-demo-logo-text{
  font-family:'Caveat',sans-serif;
  font-weight: 600;
  font-size: 2em;
}
.footer-lorem{
  font-size: 1em;
  white-space: pre-line;
  line-height: 1.5rem;
  /* margin: 1.4rem 0rem 2rem 0rem; */
}
/*-------------------------- footer box 2 -------------------------*/
.footer-box2{
  display:grid;
  /* gap: rem; */
  /* margin:0 auto; */
}
.contact-us-3box{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0rem 5rem 0rem 0rem;
}
.contact-us{
  font-size: 1.8em;
  margin: .5rem 0 .6rem 0 ;
} 
.footer-box2-text{
  font-size: 1em;
  font-weight: 400;
  margin: 1.2rem 0rem .9rem 0rem;
}
.icone-box{
  background:linear-gradient(to left, #25c1e9, #556ff8);
  padding:.28rem .45rem .18rem .45rem;
}
.location{
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.25rem 0.1rem;
}
.phone{
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.25rem 0.1rem;
}
.mail{
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.25rem 0.1rem;
}
/*-------------------------- footer box 3 -------------------------*/
.footer-box3{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: .5rem;
margin: .4rem 0 0 0rem;
}
.footer-box3-h4{
  font-size: 1.4em;
  margin:.5rem 0 0 0;
}
.form{}

#form-input{
  font-size: 1em;
  color:rgb(136, 130, 130);
  padding: .6rem 3rem .6rem .5rem ;
  margin: 1rem 3rem .6rem 0rem;
  border: 1px solid #ccc;
  border: 0;
  border-radius: 2px;
}
.button-footer{
  background:var(--gradient-background);
  border: 0;
  padding: 0.75rem 1.4rem 0.75rem 1.4rem ;
  border-radius: .28rem;
  color: var(--mainWhite);
  text-align: center;
  font-weight: bold;
  font-size: .9em
}
.button-footer:hover{
  border: 3.2px solid linear-gradient(to left, #25c1e9, #556ff8);
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  transition-duration: 0.4s;
  cursor: pointer;
}
/*-------------------------- end -------------------------*/
.copyright-text{
width: 80%;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
font-size: 1.4rem;
}
.bottom-line{
  width: 80%;
  height: 0.08rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  background:#afe3f7;
}
.bottom-bottom{
width: 100%; 
height: 1rem; 
background: linear-gradient(to left, #25c1e9, #556ff8);
}

/*-------------------------- Responsive part  -------------------------*/
/*-------------------------- Media Queries -------------------------*/

  
/* if current viewport width is smaller or equal than 768px */
@media (max-width: 1000px){
  .navbar{
    height: 3.6rem;
   }
   .header-main-container{
     margin: 0;
   }
   .header-text-box{
     margin-top:3rem;
   }
  /*-------------------------- header main content -------------------------*/
.header-main-container {
  justify-content:center;
  gap: 2rem;
  margin:0rem 0 0 0;
}
/*-------------------------- header text box -------------------------*/
.header-text-box{
  margin:4rem 0 0rem 6rem;
}
.header-h1{
  font-size: 1.8em;
}
.header-lorem {
  font-size: 1.1em;
}
.header-img {
  max-width: 300px;
  margin:0 auto;
  margin-top: 4rem;
}
/*-------------------------- part 2 -------------------------*/
.services-container {
  flex-direction: row;
}
/*-------------------------- part 2 -------------------------*/
.part2-container {
  color: var(--mainBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  margin-top: 1rem;
}
/*-------------------------- part 2 Top -------------------------*/
.what-we-do-h2 {
  font-size: 2em;
  padding: 1rem;
}
.line {
  width: 70%;
  height: 0.15rem;
  background-color: #f0eded;
}
/*-------------------------- part 2 Main -------------------------*/
.services-box{
  margin:0 auto;
}
.img-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}
.part2-imgs {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.part2-desc {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  text-align: justify;
}
 .part2-title {
  margin:0 auto;
  margin-top:.8rem;
  margin-bottom: .8rem;
  font-size: 1.3em;
  line-height: 0.01;
}
.part2-lorem {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.15rem;
  white-space: pre-line;
  word-spacing: 0.2rem;
  text-align: justify;
}
.underline{
  width: 100%;
  height: 0.15rem;
  background-color: #f0eded;
}
/*-------------------------- part 2 Bottom -------------------------*/
.button-services {
  background: linear-gradient(to left, #25c1e9, #556ff8);
  border: 0;
  padding: 0.75rem 2.2rem;
  margin: 1.2em 3em 3em 3em;
  border-radius: 1.8rem;
  color: var(--mainWhite);
}
.button-services a{
  font-size: 1.2em;
  font-weight: 400;
}
/*-------------------------- part 3 Main -------------------------*/
.part3-main-content{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
/*-------------------------- part 3 text box -------------------------*/
.part3-text-box-h3{
  font-size: 1.3em;
  margin: 4rem 0 1.4rem 0rem;
}
.part3-text-box-list{
padding-left: 1rem;
}
/*-------------------------- part 3 img -------------------------*/
.part3-img{
  margin:0 auto;
}  
}
@media(max-width: 1024px){
  .navbar{
    height: 3.6rem;
   }
   .header-main-container{
     margin: 0;
   }
   .header-text-box{
     margin-top:3rem;
   }
/*-------------------------- logo -------------------------*/
.wave-top{
  transform: translateY(10px);
}  
/*-------------------------- logo -------------------------*/
.nav-logo-svg {
  /* color: var(--mainBlack); */
  width: 50px;
  height:50px;
}
.nav-logo-text{
  /* color: var(--mainBlack); */
  font-family:'Caveat',sans-serif;
  font-weight: 300;
  font-size: 2em;
}
/*-------------------------- menu items -------------------------*/
.menu-items ul {
  display: none;
}
.menu-box{
  width: 40px;
  height:40px;
  display:flex;
  justify-content: end;
}
/*-------------------------- header main content -------------------------*/
.header-main-container {
  flex-direction:column;
  justify-content:center;
  gap: 0rem;
  /* margin:2rem 0rem 0 1rem; */
  margin: 0;
}
/*-------------------------- header text box -------------------------*/
.header-text-box{
  margin:1rem 5rem .6rem 1rem;
  /* margin: 0; */
  /* color:var(--mainBlack); */
}
.header-h1{
  font-size: 1.6em;
}
.header-lorem {
  font-size: 1.1em;
}
.header-play-icone {
  height: 12%;
  width: 12%;
}
.header-play-text{
  font-weight: 400;
}
/*-------------------------- header img box -------------------------*/
.header-img {
  max-width: 260px;
  /* margin:0 auto; */
  /* margin-bottom: 0 3rem 0 3rem; */
}
/*-------------------------- part 2 -------------------------*/
.services-container {
  width: 100%;
  max-width: 70%;
  display:flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 0rem;
  justify-content: center;
}
/*-------------------------- part 2 -------------------------*/
.part2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  margin-top: 1rem;
}
/*-------------------------- part 2 Top -------------------------*/
.what-we-do-h2 {
  font-size: 2em;
  padding: 1rem;
}
.line {
  width: 70%;
  height: 0.15rem;
  background-color: #f0eded;
}
/*-------------------------- part 2 Main -------------------------*/
.services-box{
  margin:0 auto;
}
.img-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}
.part2-imgs {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.part2-desc {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  text-align: justify;
}
 .part2-title {
  margin:0 auto;
  margin-top:.8rem;
  margin-bottom: .8rem;
  font-size: 1.3em;
  line-height: 0.01;
}
.part2-lorem {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.15rem;
  white-space: pre-line;
  word-spacing: 0.2rem;
  text-align: justify;
}
.underline{
  width: 100%;
  height: 0.15rem;
  background-color: #f0eded;
}
/*-------------------------- part 2 Bottom -------------------------*/
.button-services {
  background: linear-gradient(to left, #25c1e9, #556ff8);
  border: 0;
  padding: 0.75rem 2.2rem;
  margin: 1.2em 3em 3em 3em;
  border-radius: 1.8rem;
  color: var(--mainWhite);
}
.button-services a{
  font-size: 1.2em;
  font-weight: 400;
}
/*-------------------------- part 3 Main -------------------------*/
.part3-main-content{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
/*-------------------------- part 3 text box -------------------------*/
.part3-text-box-h3{
  font-size: 1.3em;
  margin: 4rem 0 1.4rem 0rem;
}
.part3-text-box-list{
padding-left: 1rem;
}
/*-------------------------- part 3 img -------------------------*/
.part3-img{
  height: 300px;
  width: 300px;
  margin:0 auto;
}
/*-------------------------- part 4 Main -------------------------*/
.part4-3box{
  flex-direction: column;
}
/*-------------------------- part 5 -------------------------*/
.social-img{
  width:50px ;
  height:50px;
}
/*-------------------------- footer -------------------------*/
.footer-box1{
margin: 0;
}
.footer-3box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 3rem;
}
/*-------------------------- footer logo -------------------------*/
.footer-lorem{
  margin: 1rem 0 0 0;
}
}
/* @media(max-width: 640px){
  .navbar{
   height: 3.6rem;
  }
  .header-main-container{
    margin: 0;
  }
  .header-text-box{
    margin-top:3rem;
  }
  .footer-box3{
    margin:0 0 0 2.5rem;
  }
  .social-img{
    width: 50px;
    height: 50px;
  }
  
}
@media(max-width: 375px) {
  .part3-text-box-list{
    font-size: .85em;
    }
    .copyright-text{
      font-size: .8em;
    }
    .footer-box3{
      margin:0 0 0 2.5rem;
    }
    .social-img{
      width: 40px;
      height: 40px;
    }
    .part3-img{
      width: 220px;
      height: 220px;
    }
} */
@media all and (max-width: 480px) {
  .header-h1{
    margin-top:6rem;
    font-size: 2.6em;
  }
}
/* ---------------------------280px کمتر از -------------------------- */
@media all and (max-width: 280px) {
  .nav-logo-svg{
    width:35px ;
    height:35px ;
  }
  .menu-box{
    width:35px ;
    height:35px ;
  }
  .header-h1{
    font-size: 1.5rem;
  }
  .header-lorem{
    font-weight: 400;
    font-size: 1.2rem;
  }
  .header-play-button{
    margin-top: .5rem;
  }
  .what-we-do-h2 {
    font-size: 2.4em;
  }
  .part2-title {
    margin:0 auto;
    margin: 1.4rem 0 1.4rem 0;
    font-size: 1.5em;
    line-height: 0rem;
    text-align: center;
    font-weight: 700;
  }
  .part2-lorem {
    font-size: 1.2em;
    word-spacing: 0.01rem;
    line-height: 1.5rem;
  }
  .line {
    width: 85%;
  }
.services-container {
  width: 100%;
  max-width: 85%;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  margin:0rem;
}
.services-box{
  padding: .5rem .5rem 0 .5rem;
  margin:1rem 0 1rem 0;
}
.img-container {
  width: 85%;
  margin:0 auto;
}
.underline{
display: none;
}
.button-services {
  padding: .8rem 1.4rem .8rem 1.4rem !important;
  margin: 1rem 1rem 4rem 1rem;
}
.button-services a{
  font-size: 1.2em;
  font-weight: 500;
}
.part3-img{
  width:200px ;
  height:200px ;
}
.part4-3box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0rem 0;
  gap: 3.2rem;
}
.social-img{
  width: 30px;
  height: 30px;
}
.footer-box3{
  margin:0 0 0 2.5rem;
}
.part3-main-content{
  width: 85%;
}
.diamond{
  margin: 2rem 0rem 1rem 0rem;
}
.part3-text-box-h3{
  font-size: 1.5em;
  margin: 2.2rem 0 0rem 0rem;
  font-weight: 800;
}
.part3-text-box-list{
margin-left:0rem;
padding:.1rem 0 0 1.6rem ;
margin: 0;
}
li{
  font-size: 12px;
  font-weight: 400;
}
.part3-img{
  width: 200px;
  height:200px;
  margin:0 auto;
}
.what-client-say-h2{
  font-size: 2.4em;
  margin: 1.5rem 0 .6rem 0;
}
.part4-line{
  width: 85%;
}
.prof-name{
  font-size: 1.2em;
}
.prof-under-name{
font-size: .9em;
}
.find-us-in-social-media-h2{
  font-size: 1.6em;
  font-weight: 600;
}
.social-img{
  width:30px;
  height:30px;
}
.part5-container{
  margin: 2rem 0 2rem 0;
}
.footer-3box{
width: 85%;
gap: 2.5rem;
}
.footer-lorem{
  font-size: 1em;
  margin: 0rem 0rem 1rem 1rem;
}
.footer-box2{
  width: 85%;
}
.contact-us-3box{
  gap:1rem;
}
.contact-us{
  font-size: 1.6em;
  margin: .5rem 0 1.3rem 0 ;
} 
.footer-box2-text{
  font-size: 1.1em;
  font-weight: 400;
}
.footer-box3{
  width: 85%;
  margin: 0 auto;
}
.footer-box3-h4{
  font-size: 1.2em;
  margin:2rem 0 0 0;
}
.copyright-text{
width: 85%;
font-size: .9rem;
}
.bottom-line{
  width: 85%;
}
}